.paletteEntry {
    display: inline-block;
    margin: 10px 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.regularBox {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.paletteItem {
    position: relative;
    margin-bottom: 20px;
}

.paletteItem:nth-last-child(1) {
    margin-bottom: 0;
}

.paletteImage {
    border-radius: 10px;
    min-height: 228px;
}

.itemName {
    display: block;
    margin-top: 8px;
    font-size: 16px;
}

.itemNotice {
    position: absolute;
    font-size: 14px;
    right: calc(50% - 132px);
    bottom: -15px;
}

.bestsellerBox {
    background-color: #94FF94;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.articleBox {
    display: flex;
    align-items: center;
}

.star {
    width: 23px;
    height: 23px;
    margin-right: 8px;
}

.bestsellerArticle {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

@media screen and (min-width: 767.9px) {
    .regularBox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .paletteItem {
        margin-bottom: 0;
    }

    .paletteImage {
        min-height: 420px;
    }
}

@media screen and (min-width: 1200px) {
    .paletteEntry {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .regularBox {
        padding-left: 60px;
        padding-right: 60px;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .itemName {
        font-size: 18px;
    }

    .paletteImage {
        min-height: 750px;
    }
}