.backdrop {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 50%);
    z-index: 1;
}

.pricesBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100vw - 120px);
    height: calc(100vh - 100px);
    z-index: 2;
    animation-name: pricesShow;
    animation-duration: 250ms;
}

@keyframes pricesShow {
    0% {
        scale: 0.9;
    }

    100% {
        scale: 1;
    }
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.paletteEntry {
    display: inline-block;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.closeIcon {
    width: 30px;
    height: 30px;
    color: #000;
}

.closeIcon:active {
    color: #555555;
}

.paletteItem {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.itemText {
    display: inline-block;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 8px;
}

.afterText {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    margin-top: 20px;
}

.instaLink {
    text-decoration: underline;
    color: #000;
}

@media screen and (min-width: 1200px) {
    .pricesBox {
        margin-top: 100px;
        width: 600px;
        height: 400px;
    }

    .closeIcon {
        cursor: pointer;
    }
}